/* colours
#ddd6c3
#783d5a
#383139
#aa6a6a 
*/

@font-face {
  font-family: "Bonheur Royale", cursive;
  src: url(/asset/fonts/bonheur-royale-v15-latin-regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: lato;
  src: url(/asset/fonts/lato-v25-latin-regular.woff2) format("woff2"), url(/asset/fonts/lato-v25-latin-900.woff2) format("woff2"), url(/asset/fonts/lato-v25-latin-700.woff2);
  font-weight: 400, 900, 700;
  font-style: normal;
}

:root {

    --back: #ddd6c3;
    --text-color: #383139;
    --main: #783d5a;
    --secondary: hsl(0, 27%, 70%);
    --button: #aa6a6a66;
    
}
.moblie {
  display: none;
}

* {
    font-family: lato;
    color: var(--text-color);
   margin: 0;
   padding: 0;
}

body {
    background-color: var(--back);

}
body img {
  width: 100%; 
  height: auto;
}

h1, h2, h3 {
    color: var(--main);
}


.heading {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.navbar ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
}

.navbar a {
    text-decoration: none;
    color: var(--main);
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    margin: 30px 10px 0 10px;
    
}

.hamburger {
    display: none;
}

.header-nav a {
    padding: 21px;
    font-weight: 700;
}

.logo {
    max-width: 220px;
    height: auto;
    margin-left: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: start;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 100px 40px;
   justify-items: center;
   padding: 0 0 0 50px;
    
}

.hero-logo {
    max-width: 520px;
    height: auto;
    padding: 25px 0;
}

.hero h1 {
    color: var(--main);
    display: flex;
    
    padding: 25px 0 25px 30px;
    font-size: 2.1rem;
    max-width: 350px;
}

.line {
    border: 2px solid var(--main);
    margin: 50px 50px 30px 50px;
}

.home-about {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    padding: 100px;
    gap: 50px;
}

.intro-text {
    max-width: 80ch;
    text-align: left;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}


p {
    color: #383139;
    max-width: 70ch;
    padding: 10px;
}

.cta-btn {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
}

.btn {
    padding: 10px 20px;
    background-color: var(--button);
    color: var(--main);
    border-radius: 5px;
    border: solid 2px var(--secondary);
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    font-size: 1.1rem;
    width: 200px;
    font-weight: 700;
}





.about-box {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr)) ;
    grid-template-rows: repeat(6, 50px);
    
    margin: 50px;
    justify-content: center;
}

.main-about {
    grid-column: 2 / 8;
  
}

.my-views {
    grid-column: 9 / 12;
    
    font-size: 0.9rem;
}

.my-views h2 {
    display: flex;
    justify-self: center;
    padding: 20px;
}

h2 {
    display: flex;
    justify-self: center;
    margin: 50px;
}

.project-grid-container {
  max-width: 800px;
  
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(17, 40px);
}

.project-card {
  background-color: var(--secondary);
  border: solid 4px var(--main);
}

#project1 {
  grid-column: 1 / 4;
  grid-row: 1 / 10;
  background-image: url(resources/fantasyauthor.webp);
  background-size: cover;
  
  background-repeat: no-repeat;
}


#project2 {
  grid-column: 5 / 9;
  grid-row: 1 / 7;
  background-image: url(resources/gardencare.webp);
  background-size: cover;
  
  background-repeat: no-repeat;
}

#about-card {
  grid-column: 3 / 6;
  grid-row: 6 / 13;
  z-index: 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#about-card p {
  max-width: 30ch;
  line-height: 1.2rem;
  
  gap: 5px;
  
}

#project3 {
  grid-column: 1 / 4;
  grid-row: 11 / 18;
  background-image: url(resources/jessies-cafe.webp);
  background-size: cover;
  
  background-repeat: no-repeat;
}

#project4 {
  grid-column: 5 / 9;
  grid-row: 8 / 18;
  background-image: url(resources/mythrootgame.webp);
  background-size: cover;
}

.project-about {
  display: grid;
  grid-template-columns:  repeat(8, minmax(0, 1fr));
  grid-template-rows: auto;
  gap: 10px;
  max-width: 900px;
  margin: 100px auto;
  position: relative
}

.hide {
  display: none;
}

.title-arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.arrow {
  width: 30px;
  height: 30px;
 
}


.project-container ul {
  list-style: circle var(--text-color);
  padding-left: 20px;
  
}
.box {
  background-color: var(--secondary);
  border: solid 4px var(--main);
  justify-content: center;
}

.tools {
  grid-column: 3/ 7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overview, .challenge {
  grid-column: 2 / 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.role, .process {
  grid-column: 5 / 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.overview, .role {
  grid-row: 1 / 2;
}

.challenge, .process {
  grid-row: 2 / 3;
}

.project-container img {
  width: 600px;
  height: auto;
  display: flex;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  justify-items: center;
}

.what-to-include ul {
  list-style: circle var(--text-color);
  padding-left: 20px;
}

.contact-page {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  max-width: 900px;
  margin: 100px auto;
}

#contact-intro {
  grid-column: 2/6;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#email {
  grid-column: 2/6;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#availability {
  grid-column: 2/4;
  grid-row: 3 ;
  display: none;
  flex-direction: column;
  align-items: center;
  
  gap: 10px;
}

#what-to-include {
  grid-column: 2/4;
  grid-row: 3 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 10px;
}

.hidden {
  display: none;
}
.contact-form {
  grid-column: 4/6;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--main)
}

#name, #email-form, #message {
  width: 75%;
  padding: 10px;
  border: solid 2px var(--main);
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
  color: var(--main);
}

.reach {
  font-weight: 600;
}

.social {
  text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
    justify-content: center;
}

.fa-envelope{
  color: var(--main);
  font-size: 1.5rem;
}


/* media queries */
@media (max-width: 768px) {
  .project-container img {
    width: 500px;
  }
}


@media (max-width: 425px) {
  
  .project-grid-container {
    grid-template-columns: 1fr;
    max-width: 300px;
    grid-template-rows: repeat(18, 70px);
    gap: 20px;
  }

  
  #project1, #project2, #project3, #project4, #about-card {
    grid-column: 1;
  }

  #project1 {
    grid-row: 1 /4;
    background-size: cover;
  }

  #project2 {
    grid-row: 4 /7;
    background-size: cover;
  }

  #project3 {
    grid-row: 7/11;
  }

  #project4 {
    grid-row: 11 /14;
  }

  #about-card {
    grid-row: 14 /18;
  
  }

  .intro-text {
    background-color: var(--button);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border: solid 2px var(--main);
  }
  
  .cta-btn {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0;
    margin: 20px;
  }
  
  .hero h1 {
    
    padding: 0;
    margin: 0;
  }

  .hero img {
    padding: 0;
  }

 #myLinks {
  display: none;
  position: absolute;
  top: 70px;
  flex-direction: column;
  align-items: center;
  
  padding: 5px;
  margin: 10px;
  z-index: 1000;
  
 }

 #myLinks ul {
 justify-content: space-around;
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 0;
  margin: 10px;
 }

  .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 30px;
        top: 20px;
        cursor: pointer;
        z-index: 1000;
        color: var(--main);
        font-weight: 900;
        font-size: 1.3rem;
    }
    .project-about {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
    .overview, .role, .process, .tools, .challenge {
      grid-column: 1;
      grid-row: auto;
    }

    .project-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 20px;
    }

    .project-container img {
      width: 90%;
    }
    h2 {
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  
}

  .arrow {
    padding: 0;
    margin: 0 5px 0 0;
  }

  .about-box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .main-about {
    grid-column: 1;
  }

  .my-views {
    grid-column: 1;
  }

  #what-to-include {
    grid-column: 2 / 6;
    grid-row: 3
  }

  #availability {
    grid-column: 2 / 6;
    grid-row: 4
  }

  .contact-form {
    grid-row: 5;
    grid-column: 2 /6;;
  }
  
  .reach  {
    padding: 0;
  }
}

.odin-logo {
  width: 10px;
  height: auto;
  color: var(--main);
  display: flex;
  justify-self: end;
}

.odin {
  height: 25%;
  width: 100px;
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  justify-self: space-evenly;
}

.odin a {
  text-decoration: none;
  color: var(--main);
  font-weight: 700;
  width: 20%;
}

.odin-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  width: 80%;
  height: auto;
  flex-wrap: wrap;
}